<p class="text-center text-title">Mudar a palavra passe</p>

<div class="form-container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

        <mat-card class="shipping-card">
            <mat-card-content>
                 <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput id="password" type="password" formControlName="password" placeholder="password"/>
                        
                            @if (changePasswordForm.get('password')?.invalid && changePasswordForm.get('password')?.touched) {
                                <div style="color: red;">
                                @if (changePasswordForm.get('password')?.hasError('required')) {
                                    <small>Password is required</small>
                                }
                                @if (changePasswordForm.get('password')?.hasError('minlength')) {
                                    <small>Password must be at least 3 characters</small>
                                }
                                </div>
                            }    
                        </mat-form-field>
                    </div>
                </div>

                 <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput id="confirmePassword" type="password" formControlName="confirmePassword" placeholder="confirm password"/>
                        
                            @if (changePasswordForm.get('confirmePassword')?.invalid && changePasswordForm.get('confirmePassword')?.touched) {
                                <div style="color: red;">
                                @if (changePasswordForm.get('confirmePassword')?.hasError('required')) {
                                    <small>Confirm Password is required</small>
                                }
                                @if (changePasswordForm.get('confirmePassword')?.hasError('minlength')) {
                                    <small>Confirm Password must be at least 3 characters</small>
                                }
                                </div>
                            }    
                        </mat-form-field>
                    </div>
                </div>

                  <div class="example-button-row">
                    <button matButton="tonal" type="submit" >Salvar a nova palavra passe</button>
                 </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>