section {
  display: flex;
  align-items: center;
}

.example-label {
  font-size: 14px;
  margin: 0 16px 0 8px;
  min-width: 120px;
}

.example-button-row {
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.house-description {
  --description-lines: 3;
  line-height: 1.5;
  max-height: calc(1.5em * var(--description-lines));
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--description-lines);
  line-clamp: var(--description-lines);
}

@media (max-width: 767.98px) {
  .house-description {
    --description-lines: 2;
  }
}
