<p class="text-center text-title">Confirmar conta para ativação</p>

<div class="form-container">
    <form [formGroup]="confimeAccountForm" (ngSubmit)="onSubmit()">

        <mat-card class="shipping-card">
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput id="email" type="email" formControlName="email" placeholder="email"/>
                    
                            @if (confimeAccountForm.get('email')?.invalid && confimeAccountForm.get('email')?.touched) {
                            <div style="color: red;">
                            @if (confimeAccountForm.get('email')?.hasError('required')) {
                                <small>Email é obrigatório</small>
                            }
                            @if (confimeAccountForm.get('email')?.hasError('minlength')) {
                                <small>Email deve ter pelo menos 3 caracteres</small>
                            }
                            </div>
                        }
                        </mat-form-field>

                    </div>
                </div>

                  <div class="example-button-row ">
                    <button matButton routerLink="/user/login">Entrar na minha conta</button>
                   <span style="padding-left: 170px;"></span>
                    <button matButton="tonal" type="submit"  >Enviar email</button>
                 </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>
