<div class="container d-flex justify-content-center">
    <mat-card class="shipping-card">
        <p class="text-center fs-3"> {{title}} </p>
        <mat-card-content>
            <form [formGroup]="houseForm" (ngSubmit)="onSubmit()">

                <div class="row">
                    <mat-form-field class="full-width">
                        <mat-label>Título do imóvel</mat-label>
                        <input matInput type="text" formControlName="title">
                    </mat-form-field>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>Número de quartos</mat-label>
                            <input matInput type="number" formControlName="number_of_rooms">
                        </mat-form-field>
                    </div>
                    
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>Número de cozinhas</mat-label>
                            <input matInput type="number" formControlName="kitchen">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>Quartos de banho</mat-label>
                            <input matInput type="number" formControlName="bathroom">
                        </mat-form-field>
                    </div>
                    
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>Preço</mat-label>
                            <input matInput type="number" formControlName="price">
                        </mat-form-field>
                    </div>
                </div>



                <div class="row">
                    <mat-form-field class="full-width">
                        <mat-label>Tipologia</mat-label>
                        <mat-select formControlName="tipology">
                            @for (tipology of tipologyOptions; track tipology) {
                            <mat-option [value]="tipology.value">{{tipology.viewValue}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class="full-width">
                        <mat-label>Condição do imóvel</mat-label>
                        <mat-select formControlName="status_condition">
                            @for (condition of statusConditionOptions; track condition) {
                            <mat-option [value]="condition.value">{{condition.viewValue}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>

                

                <div class="row">
                    <mat-form-field class="full-width">
                        <mat-label>Condição do imóvel</mat-label>
                        <mat-select formControlName="status_post">
                            @for (status of statusPostOptions; track status) {
                            <mat-option [value]="status.value">{{status.viewValue}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field class="full-width">
                        <mat-label>Tipo de Negociação</mat-label>
                        <mat-select formControlName="type_negotiation">
                            @for (type of typeNegotiationOptions; track type) {
                            <mat-option [value]="type.value">{{type.viewValue}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>

                <div formGroupName="post_address">
                    <div formGroupName="locality">
                        
                        <div class="row">
                            <mat-form-field class="full-width">
                                <mat-label>Pais</mat-label>
                                <mat-select formControlName="countrySelected" (selectionChange)="onCountryChange($event.value)">
                                    @for (country of countryOptions; track country) {
                                    <mat-option [value]="country.value">{{country.viewValue}}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                       
                        <div class="row">
                            <mat-form-field class="full-width">
                                <mat-label>Provincia</mat-label>
                                <mat-select formControlName="provinceSelected" (selectionChange)="onProvinceChange($event.value)">
                                    @for (province of provinceOptions; track province) {
                                    <mat-option [value]="province.value">{{province.viewValue}}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="row">
                            <mat-form-field class="full-width">
                                <mat-label>Localidade</mat-label>
                                <mat-select formControlName="id">
                                    @for (locality of localityOptions; track locality) {
                                    <mat-option [value]="locality.value">{{locality.viewValue}}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div formGroupName="address">
                        <div class="row">
                            <mat-form-field class="full-width">
                                <mat-label>Endereço</mat-label>
                                <input matInput type="text" value="street1" formControlName="street1">
                            </mat-form-field>

                            <mat-form-field class="full-width">
                                <mat-label>Código postal</mat-label>
                                <input matInput type="text" value="zipeCode" formControlName="zipeCode">
                            </mat-form-field>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <mat-form-field class="example-full-width">
                        <mat-label>Descrição</mat-label>
                        <textarea matInput value="description" formControlName="description"></textarea>
                    </mat-form-field>
                </div>
                <hr>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            Mobilada
                        </div>
                        <div class="row">
                            <mat-radio-group aria-label="Select an option" formControlName="furnished">
                                <mat-radio-button [value]="true">Sim</mat-radio-button>
                                <mat-radio-button [value]="false">Não</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            Piscina
                        </div>
                        <div class="row">
                            <mat-radio-group aria-label="Select an option" formControlName="swimming_pool">
                                <mat-radio-button [value]="true">Sim</mat-radio-button>
                                <mat-radio-button [value]="false">Não</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row">
                    <div class="col">
                        <div class="row">
                           Quintal
                        </div>
                        <div class="row">
                            <mat-radio-group aria-label="Select an option" formControlName="backyard">
                                <mat-radio-button [value]="true">Sim</mat-radio-button>
                                <mat-radio-button [value]="false">Não</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                           Disponível
                        </div>
                        <div class="row">
                            <mat-radio-group aria-label="Select an option" formControlName="avaliable">
                                <mat-radio-button [value]="true">Sim</mat-radio-button>
                                <mat-radio-button [value]="false">Não</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                </div>

                <div class="row align-items-center mb-3">
                    <div class="col-auto">
                        <input #fileInput type="file" accept="image/*" multiple hidden 
                        (change)="onFileSelected($event)"/>
                        <button matButton="outlined" type="button" (click)="fileInput.click()">
                            <mat-icon>upload</mat-icon>
                            Carregar imagens
                        </button>
                    </div>
                    <div class="col">
                        @if (selectedFiles && selectedFiles.length > 0) {
                            <span class="text-muted">{{ selectedFiles.length }} ficheiro(s) selecionado(s)</span>
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col justify-content-end">
                         <button matButton="filled" type="submit" [disabled]="!houseForm.valid">Salvar</button>  
                    </div>
                </div>

            </form>    
        </mat-card-content>
    </mat-card>
</div>

