.hero{
    position: relative; 
    height: 75vh; 
    background: url('https://www.visateam.pt/wp-content/uploads/2018/07/Luanda_1500x800.jpg') no-repeat center center/cover;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 20px;
}

.example-card {
  justify-content: center;
  width: 800px;
}
.text-center{
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px !important;
}

.mat-font-title-md {
  font: var(--mat-sys-title-medium);
  letter-spacing: var(--mat-sys-title-medium-tracking);
}