<p class="text-center text-title">Entrar</p>

<div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-card class="shipping-card">
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput id="email" type="email" formControlName="email" placeholder="email"/>
                    
                            @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                            <div style="color: red;">
                            @if (loginForm.get('email')?.hasError('required')) {
                                <small>Email is required</small>
                            }
                            @if (loginForm.get('email')?.hasError('minlength')) {
                                <small>Email must be at least 3 characters</small>
                            }
                            </div>
                        }
                        </mat-form-field>

                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput id="password" type="password" formControlName="password" placeholder="password"/>
                        
                            @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                                <div style="color: red;">
                                @if (loginForm.get('password')?.hasError('required')) {
                                    <small>Password is required</small>
                                }
                                @if (loginForm.get('password')?.hasError('minlength')) {
                                    <small>Password must be at least 3 characters</small>
                                }
                                </div>
                            }    
                        </mat-form-field>
                    </div>
                </div>

                  <div class="example-button-row">
                    <button matButton routerLink="/user/signup">Criar uma nova conta</button>
                    <button matButton routerLink="/user/password-recover">Recuperar palavra passe</button>
                    <button matButton="tonal" type="submit" >Entrar</button>
                 </div>
            </mat-card-content>
        </mat-card>
    </form>
</div>