/* Modal backdrop */
.modal-backdrop-custom {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
}

.modal {
  z-index: 1050;
}

.modal-content {
  border-radius: 1rem;
}

.bg-nobiva {
  background-color: var(--purple-400) !important;
}
